<h1>Pages#contact</h1>

<p><%= number_to_phone "555555555" %></p>
<p><%= number_to_currency "1250" %></p>
<p><%= number_to_percentage "1250" %></p>
<p><%= number_with_delimiter "1252342342340" %></p>
